---
import TimeLineCard from './TimeLineCard';
import type { WorkHistoryCard } from '@/types';

interface Props {
  data: WorkHistoryCard[];
}

const { data } = Astro.props;
---

<div class="flex flex-col justify-center divide-y divide-slate-200 [&>*]:py-16">
  <div class="w-full max-w-fit lg:mx-[max(20vw,12px)]">
    <div
      class="space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px lg:before:mx-auto lg:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent lg:before:via-slate-300 before:to-transparent"
    >
      {data.map((item) => <TimeLineCard client:visible data={item} />)}
    </div>
  </div>
</div>
